<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>TRAVEL LIPE, BOOKING SPEEADBOAT, TRANSPORT, PACKAGE TOUR - MOONLIGHT LIPE - KOH LIPE, SATUN THAILAND</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!-- End Font Google -->
    <!-- Library CSS -->
    <link rel="stylesheet" href="css/library/font-awesome.min.css">
    <link rel="stylesheet" href="css/library/bootstrap.min.css">
    <link rel="stylesheet" href="css/library/jquery-ui.min.css">
        <link rel="stylesheet" href="css/library/owl.carousel.css">
    <link rel="stylesheet" href="css/library/jquery.mb.YTPlayer.min.css">
    <!-- End Library CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>
    
    <!-- Wrap -->
    <div id="wrap">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                
                <!-- Logo -->
                <div class="logo float-left">
                    <a href="index.html" title=""><img src="images/logo-header.png" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">
                                    <li class="current-menu-parent"><a href="index.html" title="">Book Transport</a></li>
                                    <li><a href="#" title="">Book Tours</a></li>
                                    <li><a href="#" title="">Time Tables</a></li>
                                    <li><a href="#" title="">How to payment</a></li>   
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->

        
        <!--Banner-->
        <section class="banner">

            <!--Background-->
            <div class="bg-parallax bg-1"></div>
            <!--End Background-->

            <div class="container">

                <div class="logo-banner text-center">
                    <a href="" title="">
                        <img src="images/logo-banner.png" alt="">
                    </a>
                </div>

                <!-- Banner Content -->
                <div class="banner-cn">
                    <!-- Tabs Content -->
                    <div class="tab-content" style="margin-top: 150px; margin-bottom: 200px !important">
                        <!-- Search Cruise-->
                        <div class="form-cn form-cruise tab-pane  active in" id="form-cruise">
                            <h2>Where would you like to go?</h2>
                           <!-- <ul class="form-radio">
                                <li>
                                    <div class="radio-checkbox">
                                        <input type="radio" name="radio-2" id="radio-5" class="radio">
                                        <label for="radio-5">Return Trip</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio-checkbox">
                                        <input type="radio" name="radio-2" id="radio-6" class="radio">
                                        <label for="radio-6">One-Way</label>
                                    </div>
                                </li>
                            </ul> -->
                            <div class="form-search clearfix">
                                <div class="form-field field-select field-lenght">
                                    <div class="select">
                                        <span>From:</span>
                                        <select>
                                            <option>Koh Lipe, Satun</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-field field-select field-lenght">
                                    <div class="select">
                                        <span>To:</span>
                                        <select>
                                            <option>Koh Buloan</option>
                                            <option>Koh Kradan</option>
                                            <option>Koh Mook</option>
                                            <option>Koh Ngai</option>
                                            <option>Koh Lanta</option>
                                            <option>Koh Phi-Phi</option>
                                            <option>Koh Phuket</option>
                                            <option>Pakbara Pier </option>
                                            <option>Hatyai Airport</option>
                                            <option>Hatyai Town</option>
                                            <option>Langkawi (Telaga)</option>
                                            <option>Langkawi (Kuah)</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-field field-date">
                                    <input type="text" class="field-input calendar-input" placeholder="Departing">
                                </div>
                               <!-- <div class="form-field field-date">
                                    <input type="text" class="field-input calendar-input" placeholder="Returning">
                                </div>-->
                                
                                <div class="form-field field-select field-adult">
                                    <div class="select">
                                        <span>Adults</span>
                                        <select>
                                            <option>Adults</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-field field-select field-children">
                                    <div class="select">
                                        <span>Children</span>
                                        <select>
                                            <option>Children</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-submit">
                                    <button type="submit" class="awe-btn awe-btn-medium awe-search">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- End Search Cruise -->   
                    </div>
                    <!-- End Tabs Content -->

                </div>
                <!-- End Banner Content -->

            </div>

        </section>
        <!--End Banner-->

        <!-- Sales -->
        <section class="sales">
            <!-- Title -->
            <div class="title-wrap">
                <div class="container">
                    <div class="travel-title float-left">
                        <h2>Best prices for transfers. <span>Koh Lipe & more</span></h2>
                    </div>
                    <a href="#" title="" class="awe-btn awe-btn-5 awe-btn-lager arrow-right text-uppercase float-right">All Package Tours</a>
                </div>
            </div>
            <!-- End Title -->
            <!-- Hot Sales Content -->
            <div class="container">
                <div class="sales-cn">
                    <div class="row">
                       <!-- HostSales Item -->
                        <div class="col-xs-6 col-md-3">
                            <div class="sales-item">
                                <figure class="home-sales-img">
                                    <a href="" title="">
                                        <img src="images/deal/img-1.jpg" alt="">
                                    </a>
                                    <figcaption>
                                        Book <span>Now</span>
                                    </figcaption>
                                </figure>
                                <div class="home-sales-text">
                                    <div class="home-sales-name-places">
                                        <div class="home-sales-name">
                                            <a href="#" title="">Snorkel Trip Speed boat | Program A + B</a>
                                        </div>
                                        <div class="home-sales-places">
                                            <a href="" title="">Koh Lipe</a>,
                                            <a href="" title="">Satun Thailand</a>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="price-box">
                                        <span class="price old-price">Price  <del></del></span>
                                        <span class="price special-price">1200<small>THB</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End HostSales Item -->
                        
                      
                        <!-- HostSales Item -->
                        <div class="col-xs-6 col-md-3">
                            <div class="sales-item">
                                <figure class="home-sales-img">
                                    <a href="" title="">
                                        <img src="images/deal/img-2.jpg" alt="">
                                    </a>
                                    <figcaption>
                                        Book <span>Now</span>
                                    </figcaption>
                                </figure>
                                <div class="home-sales-text">
                                    <div class="home-sales-name-places">
                                        <div class="home-sales-name">
                                            <a href="#" title="">Full Day | Program B</a>
                                        </div>
                                        <div class="home-sales-places">
                                            <a href="" title="">Koh Lipe</a>,
                                            <a href="" title="">Satun Thailand</a>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="price-box">
                                        <span class="price old-price">Price  <del></del></span>
                                        <span class="price special-price">700<small>THB</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End HostSales Item -->
                        <!-- HostSales Item -->
                        <div class="col-xs-6 col-md-3">
                            <div class="sales-item">
                                <figure class="home-sales-img">
                                    <a href="" title="">
                                        <img src="images/deal/img-22.jpg" alt="">
                                    </a>
                                    <figcaption>
                                        Book <span>Now</span>
                                    </figcaption>
                                </figure>

                                <div class="home-sales-text">
                                    <div class="home-sales-name-places">
                                        <div class="home-sales-name">
                                            <a href="#" title="">Half Day | Program A</a>
                                        </div>
                                        <div class="home-sales-places">
                                            <a href="" title="">13.00 until 17.00</a>
                                            <a href="" title="">Koh Lipe, Satun Thailand</a>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="price-box">
                                        <span class="price old-price">Price  <del></del></span>
                                        <span class="price special-price">450<small>THB</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End HostSales Item -->
                        <!-- HostSales Item -->
                        <div class="col-xs-6 col-md-3">
                            <div class="sales-item">
                                <figure class="home-sales-img">
                                    <a href="" title="">
                                        <img src="images/deal/img-23.jpg" alt="">
                                    </a>
                                    <figcaption>
                                        Book <span>Now</span>
                                    </figcaption>
                                </figure>

                                <div class="home-sales-text">
                                    <div class="home-sales-name-places">
                                        <div class="home-sales-name">
                                            <a href="#" title="">Lipe Sunset Trip</a>
                                        </div>
                                        <div class="home-sales-places">
                                            <a href="" title="">14.30 until 18.30</a>
                                            <a href="" title="">Koh Lipe, Satun Thailand</a>
                                        </div>
                                    </div>
                                    <hr class="hr">
                                    <div class="price-box">
                                        <span class="price old-price">Price  <del></del></span>
                                        <span class="price special-price">500<small>THB</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End HostSales Item -->
                        
                    </div>
                </div>
            </div>
            <!-- End Hot Sales Content -->
        </section>
        <!-- End Sales -->

        
        <!-- Confidence and Subscribe  -->
        <section class="confidence-subscribe">
            <!-- Background -->
            <div class="bg-parallax bg-3"></div>
            <!-- End Background -->
            <div class="container">
                <div class="row cs-sb-cn">

                    <!-- Confidence -->
                    <div class="col-md-6">
                        <div class="confidence">
                            <h3>Book with confidence</h3>
                            <ul>
                                <li>
                                    <span class="label-nb">01</span>
                                    <h5>No booking charges</h5>
                                    <p>We don't charge you an extra fee for a booking with us</p>
                                </li>
                                <li>
                                    <span class="label-nb">02</span>
                                    <h5>No cancellation fees</h5>
                                    <p>We don't charge you a cancellation or modification fee in case plans change</p>
                                </li>
                                <li>
                                    <span class="label-nb">03</span>
                                    <h5>No extra fees</h5>
                                    <p>Our rates include all taxes and fees: no hidden costs during the payment process</p>
                                </li>
                                <li>
                                    <span class="label-nb">04</span>
                                    <h5>Flexible booking</h5>
                                    <p>You can book up to a whole year in advance until the moment of your travel</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Confidence -->
                    <!-- Subscribe -->
                    <div class="col-md-6">
                        <div class="subscribe">
                            <h3>Subscribe to our newsletter</h3>
                            <p>Enter your email address and we’ll send you our regular promotional emails, packed with special offers, great deals, and huge discounts</p>
                            <!-- Subscribe Form -->
                            <div class="subscribe-form">
                                <form action="#" method="get">
                                    <input type="text" name="" value="" placeholder="Your email" class="subscribe-input">
                                    <button type="submit" class="awe-btn awe-btn-5 arrow-right text-uppercase awe-btn-lager">subcrible</button>
                                </form>
                            </div>
                            <!-- End Subscribe Form -->
                            <!-- Follow us -->
                            <div class="follow-us">
                                <h4>Follow us</h4>
                                <div class="follow-group">
                                    <a href="" title=""><i class="fa fa-facebook"></i></a>
                                    <a href="" title=""><i class="fa fa-twitter"></i></a>
                                    <a href="" title=""><i class="fa fa-instagram"></i></a>
                                    <a href="" title=""><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <!-- Follow us -->
                        </div>
                    </div>
                    <!-- End Subscribe -->

                </div>
            </div>
        </section>
        <!-- End Confidence and Subscribe  -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <div class="logo-foter">
                            <a href="index.php" title=""><img src="images/logo-footer.png" alt=""></a>
                        </div>
                    </div>
                    <!-- End Logo -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="index.php" title="">Home</a></li>
                                <li><a href="index.php" title="">Book Transport</a></li>
                                <li><a href="tour.php" title="">Book Tours</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="contact.php" title="">Contact Us</a></li>
                                <li><a href="payment.php" title="">How to Payment</a></li>
                                <li><a href="timetable.php" title="">Time Tables</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Footer Currency, Language -->
                    <div class="col-sm-6 col-md-4">
                       
                        <!--CopyRight-->
                        <p class="copyright" style="margin-top: 60px;">
							© 2018 TravelLipe.com All rights reserved. Developed by <a href="http://www.me-fi.com" target="_blank">ME-FI dot com</a>
                        </p>
                        <!--CopyRight-->
                    </div>
                    <!-- End Footer Currency, Language -->
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        
    </div>
    
    <!-- Library JS -->
    <script type="text/javascript" src="js/library/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/library/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/library/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/library/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/library/parallax.min.js"></script>
    <script type="text/javascript" src="js/library/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="js/library/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/library/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="js/library/SmoothScroll.js"></script>
    <!-- End Library JS -->
    <!-- Main Js -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- End Main Js -->
</body>
</html>
